@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --vdgblue: hsl(217, 19%, 35%);
    --ddblue: hsl(214, 17%, 51%);
    --gblue: hsl(212, 23%, 69%);
    --lgblue: hsl(210, 46%, 95%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--lgblue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
}

.wrapper {
    background-color: white;
    border-radius: 10px;
    width: 865px;
    height: 325px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.wrapper .image {
    background-image: url("./images/drawers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    height: 100%;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.wrapper .information-container {
    width: 55%;
    margin: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.information-container .first-txt {
    font-size: 23px;
    color: var(--vdgblue);
    padding-bottom: 15px;
    font-weight: 700;
}

.information-container .second-txt {
    color: var(--vdgblue);
    font-size: 15px;
    line-height: 22px;
}

.information-container .person-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 10px;
    opacity: 1;
}

.person-info .face {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 30px;
}

.person-info > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .name {
    color: var(--vdgblue);
    font-weight: 700;
}

.arrow {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: var(--lgblue);
    cursor: pointer;
}

.arrow .arr {
    height: 15px;
    width: 15px;
}

.info .date {
    color: var(--ddblue);
}

.share-icons {
    position: absolute;
    top: 55%;
    right: -45px;
    width: 235px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--vdgblue);
    border-radius: 10px;
    color: var(--lgblue);
    font-size: 20px;
    opacity: 0;
    transition: opacity .4s linear;
}

.share-icons > div {
    height: 25px;
    width: 25px;
    background-color: var(--vdgblue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%) rotate(45deg);
    z-index: 0;
}

.share-icons .arrow-share {
    opacity: 0;
}

.active {
    opacity: 1;
    transition: opacity .4s linear;
}

.share-icons p {
    letter-spacing: 2px;
    margin-right: 10px;
    font-size: 16px;
    text-transform: uppercase;
}

.share-icons i {
    margin: 8px;
    z-index: 2;
}

/* attribution */
.attribution {
    display: none;
}


@media (max-width: 775px) {
    .wrapper {
        width: 335px;
        height: 555px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .wrapper .image {
        width: 100%;
        height: 45%;
        overflow: hidden;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    .wrapper .information-container {
        width: 80%;
        margin: 40px auto 10px;
    }

    .information-container .first-txt {
        font-size: 16px;
        padding-bottom: 20px;
    }

    .information-container .second-txt {
        font-size: 14px;
        text-align: left;
    }

    .person-info .face {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-right: 15px;
    }

    .info > p {
        font-size: 12px;
    }

    .share-icons {
        top: calc(100% - 80px);
        right: 0;
        width: 100%;
        height: 70px;
        font-size: 20px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        z-index: -100;
        margin-top: 10px;
        justify-content: center;
    }

    .arrow-share {
        height: 45px;
        width: 45px;
        border-radius: 50%;
        background-color: var(--vdgblue);
        cursor: pointer;
        opacity: 1;
    }


}